
html, body {
	background-color: $html-back-color;
	padding: 0px;
	color: $default-black-text-color;
	font-size: 14px;
	font-weight: 700;
	scroll-behavior: smooth;
}

a {
	color: $official-blue;
}
a:hover {
	opacity: 0.5;
	text-decoration: none;
	transition: 0.1s all;
}

.blue-subtitle {
	color: $official-blue;
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
	padding-bottom: 0px;
}

.page-content {
	// Appearance 
	background-color: white;

	//  Layout
	width: 100%;
	max-width: $content-width;
	margin: auto;
	margin-top: 20px;

	.content {
		padding: 60px;
	}
}

.right-navbar {
	padding: 10px;
	border-bottom: 1px solid $official-blue;
	border-top: 2px solid $official-blue;
	margin-bottom: 16px;
}
.social-network-container {
	padding-top: 0px;
	a {
		color: gray;
		font-size: 120%;
		padding-right: 6px;
	}
	
}

.header-block {
	//  Layout
	width: 100%;
	margin: auto;
	min-height: 300px;
	// background-color: $header-default-background-color;
	background-image: url("/assets/images/background/default.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */

	padding-top: 40px;
	margin-bottom: 0px;
	padding-bottom: 0px;

	.header-front-title {
		padding-top: 30px;
		color: white;
		font-size: 300%;
		font-weight: bolder;
	}
	.header-sub-title {
		color: white;
		opacity: 0.7;
		font-size: 140%;
		letter-spacing: 0.6px;
		font-weight: normal;
	}
}


// ---------- Posts ----------
ul.post-list {
	padding-left: 0px;
	.front-post {

		padding-bottom: 80px;

		.separator {
			margin-top: 30px;
		}

		.post-title a, .post-title{
			font-size: 150%;
			font-weight: bold;
		}
		img {
			max-width: 100%;
			padding: 40px;
		}
		p {
			font-size: 120%;
			line-height: 180%;
		}
		.read-more {
			font-weight: bold;
			color: $official-blue;
			padding: 6px;
			border-radius: 4px;
			background-color: rgba(8, 69, 148, 0.1);
		}
	}
}

nav.pagination {
	// background-color: red;
}
.container-pagination {
	margin: auto;
}
.page-number {
	margin-top: auto;
	margin-bottom: auto;
	padding: 16px;
}
.paginator-icon {
	font-size: 300%;
}
.paginator-icon.inactive-icon {
	opacity: 0.2 !important;
}

// ---------- Posts ----------
ul.event-list {
	padding-top: 30px;
	margin: 0;
	padding-left: 0px;
	padding-top: 0px;

	h4 {
		color: $official-blue;
		text-transform: uppercase;
		font-size: 100%;
		font-weight: bold;
	}
	.event-container{
		padding-top: 10px;

		.event-title {
			font-size: 110%;
			color: $official-blue;
		}
	}

	.event-date-past {
		color: gray !important;
	}
}


// ------- Members ------------
.member-list {
	padding-top: 30px;
	margin: 0;
	padding-left: 0px;
	padding-bottom: 60px;

	h4 {
		color: $official-blue;
		text-transform: uppercase;
		font-size: 100%;
		font-weight: bold;
		padding-bottom: 20px;
	}
	h5 {
		padding-top: 12px;
		font-size: 110%;
		color: black;
	}
	img.member-image {
		width: 100%;
		height: auto;
		margin: auto;

	}
	.member-ion-icons {
		font-size: 140%;
		padding: 3px;
		color: #636363;
	}
}

// -- portfolio
.portfolio-container-header {
		max-width:1000px;

		.title {
			padding-top: 1em;
			margin: 0 0 0 0;
		}
		.description {
			margin: 0 0 0 0;
			padding-bottom: 4em;
		}
		.row {
			margin-bottom: 30px;
		}
		.card-container {
			// max-width: 320px;
			padding-bottom: 80px;
		}
		.card-inside {
			margin: auto;
			max-width: 400px;
		}
		.portfolio-preview:hover {
			opacity:0.8;
		}
		.meta-container {
			height: 350px;
		}
		.portfolio-image {
			width: 100%;
			border: 1px solid #D6D6D6;
			// height:60px;
		}
		.portfolio-meta {
			h1 {
    			margin: 0 0 0 0;
    			padding-top: 20px;
    			// text-transform: uppercase;
    			line-height: 100%;
    			opacity: 1;
    			font-size: large;
    			color:#222222;
    		}
    		p {
    			color:#222222;
    			margin-top: 10px;
    			line-height: 21px;
    			font-weight: regular;
	    	}
    	}

	}
// ----- publications ----
.publi-list {
	padding-left:0px;
	padding-right: 30px;

	.publi-year-category {
		font-weight: bold;
		font-size: 200%;
		color: $official-blue;
	}
	h6 {
		font-size: 120%;
		font-weight: bold;
	}
	.publi-year-info {
		padding-bottom: 30px;
		font-weight: normal;
	}
	.publi-container {
		margin-bottom: 40px;

		.publi-name {
			margin-top: 0px;
			padding-top: 4px;
			font-weight: bolder;
		}

		.edition {
			font-weight: bold;
		}
		h5 {
			padding-top: 12px;
			margin: 0px;
			font-size: 110%;
			color: black;
		}
		.publi-authors {
			margin-bottom: 5px;

		}
		p {
			margin: 0;
			padding: 0;
		}
		.thesis-authors {
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
		.publi-submission {
			color: $strong-orange;
			text-transform: uppercase;
			font-size: 100%;
			font-weight: bold;
			padding-bottom: 20px;
		}


		a {
			font-weight: bold;
			color: $official-blue;
			padding: 4px 6px 4px 6px;
			margin-right: 8px;
			border-radius: 4px;
			background-color: rgba(8, 69, 148, 0.1);
		}
	}

	.publi-year-category {
	}
	

	.publication-year-container {
		padding-bottom: 60px;
	}
	.separator {
		margin-top: 30px;
	}
	
}

.publication-year-container {


	a.inactive-publi-btn {
		color: gray;
	}
	a.active-publi-btn {
		// background-color: $official-blue;
		// color: white;
		// border-radius: 4px;
		// border-bottom: 1px solid $official-blue;
	}

}
.table-about {
	max-width: 400px;
	i {
		margin-right: 10px;
	}
}
.table-collabs {
	max-width: none;
}



// --------- Subnav for publication page -----------

.subnav-bar {
	width: 100%;
	background-color: $light-gray-background;
	margin: 0;
	margin-top: -6px;
	min-height: 60px;
	border-bottom: 1px solid rgba(0,0, 0, .1);
}
	
// Nav-bar
header {
	
	margin-top: 0px;
	padding: 0;
	margin: 0;
	height: auto;

	.navbar-fixed-top {
		position: fixed;
	    right: 0;
	    left: 0;
	    top: 0;
	    z-index: 1030;
	}

	.navigation-wrapper {
		max-width: $content-width;
		height: auto;
		font-weight: lighter;

		.nav-item {
			margin-left:10px;
		}
		a.nav-link {
			letter-spacing: 1px;
		}
		a.nav-link:hover {
			opacity: 0.6;
			transition: 0.1s all;
		}


		.navbar {

		}

		.navbar-white {
			background-color: white !important;
			border-bottom: 1px solid rgba(8, 69, 148, .5);
			transition: 0.2s background-color;

			a.nav-link { 
				color: $official-blue !important;
			}
		}
		.navbar-transparent {
			background-color: transparent !important;
			transition: 0.2s all;
			border-bottom: 1px solid rgba(255, 255, 255, .3);
			a.nav-link { 
				color: white !important;
			}
		}


		
	}
}




footer {
	background-color: $footer-background-color;
	padding: 60px;
	width: 100%;
	min-height: 300px;

	.footer-container {;
		max-width: 1000px;
		margin: auto;

		h4 {
			font-size: 100%;
			font-weight: bold;
			text-transform: uppercase;
			color: $official-blue;
		}
		.footer-ion-icons {
			padding: 4px;
			color: $official-blue;
		}
		.subcontainer {
			max-width: 250px;
		}
		.footer-logo {
			max-height: 50px;
			width:auto;
			margin: 16px;
			max-width: 120px;
		}
	}
}

@media only screen and (max-width: 764px) {
  .navbar {
  	visibility: hidden !important;
  }
  footer {
  	padding-left: 16px;
  	padding-right: 16px;

	  .subcontainer {
	  	 padding-bottom: 30px;
	  }
   }
  .page-content {

		.content {
			padding-left: 16px;
			padding-right: 16px;
		}
	}


}

@media only screen and (max-width: 580px) {
  .navbar {
  	visibility: hidden !important;
  }
  .subcontainer {
  	 padding-bottom: 30px;
  }
}
