
// Typography
$base-font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; // $helvetica;
$heading-font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; // $helvetica;

//"Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif; // $base-font-family;

$html-back-color: white;
$main-body-color: white;
$front-post-title-color: black;
$header-default-background-color: #084594;
$official-blue: #084594;

$strong-orange: #de2d26;

$default-black-text-color: #525252;

$footer-background-color: #f7f7f7;

$tablet: em(640);
$em-base: em(20);
$content-width: 1300px;