---
layout: basic
title: Dynamica Research Lab
use_large_title: True
show_title: True
subtitle: "Understanding the structure and the dynamics of complex systems."
subsubtitle: "Université Laval, Québec, Canada"
include_about_us: True
background: '#08306b'
custom_js:
  - /assets/js/d3.v4.min.js
  - /assets/js/d3_static_graph.js
---

<div class="row" >
  <div class="col-md-8">
    <!-- News section -->
    {% assign posts = paginator.posts | where:"type","post" %}

   {% if paginator.previous_page == False%}
    <ul class="post-list">
      <h1>News</h1>
       <br>
      {% for post in posts limit:site.numfrontpost%}
        <div class="front-post">
          <section class="post-meta">
            <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}
            </div>
          </section>
          <h2 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {% if post.imagesrc %}<img class="front-image" src="{{post.imagesrc}}">{% endif %}
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.excerpt | truncatewords: 30 }}</p>
          </section>
          <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read more</a>
          <hr class="separator">
        </div>
      {% endfor %}
    </ul>
    {% endif %}

    <ul class="post-list">
      <h3>Older posts</h3>
       <br>
       {% if paginator.previous_page == False%}
         {% assign offset = site.numfrontpost %}
       {% else %}
          {% assign offset = 0 %}
       {% endif %}

      {% for post in posts offset:offset %}
        <div class="row">
          <div class="col-sm-3 olderposts-date">
            {{ post.date | date: "%B %-d, %Y" }}
          </div>
          <div class="col-sm-9 olderposts-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
        </div>
        <hr>
      {% endfor %}
    </ul>

    <!-- PAGINATION -->
    <nav class="pagination" role="navigation">
      <div class="container-pagination">
        {% if paginator.previous_page %}
          {% if paginator.page == 2 %}
            <a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
              <i class="icon ion-md-arrow-back paginator-icon "></i>
            </a>
          {% else %}
            <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
              <i class="icon ion-md-arrow-back paginator-icon"></i>
            </a>
          {% endif %}
        {% else %}
          <i class="icon ion-md-arrow-back paginator-icon inactive-icon"></i>
        {% endif %}
        {% assign npage = paginator.page %}
        {% assign posts = site.posts | where:"type","post" %}
        {% assign totposts = posts | size %}
        {% assign totpage = totposts | divided_by: site.paginate %}
        <span class="page-number">Page {{ paginator.page }} of {{ totpage | round }}</span>
        {% if npage < totpage %}
          <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
            <i class="icon ion-md-arrow-forward paginator-icon"></i>
          </a>
        {% else %}
          <i class="icon ion-md-arrow-forward paginator-icon inactive-icon"></i>
        {% endif %}
      </div>
    </nav>
  </div>
  <div class="col-md-4">
    <div class="right-navbar">
        <ul class="event-list">
          <h4>Upcoming Events</h4>
            {% for event in site.data.events %}
             <div class="event-container">
              {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
              {% capture posttime %}{{event.date | date: '%s'}}{% endcapture %}
              {% if posttime > nowunix %}
                <p class="event-type">{{ event.eventtype }}</p>
                <span class="event-date">{{ event.date | date: "%b. %-d, %Y" }}</span>
                {% if event.title %}
                <h5 class="event-title">
                  {{ event.title }}
                </h5>
                {% endif %}
                {% if event.subtitle %}
                <p class="event-subtitle">{{ event.subtitle }}</p>
                {% endif %}
                {% if event.subsubtitle %}
                <p class="event-subsubtitle">{{ event.subsubtitle }}</p>
                {% endif %}
              {% endif %}
            </div>
            {% endfor %}
        </ul>
    </div>
     <div style="padding-left: 10px">
      <h4 class="blue-subtitle">Follow us</h4>
      <div class="social-network-container"><a href="https://github.com/DynamicaLab"><i class="icon ion-logo-github footer-ion-icons"></i></a>
            <a href="https://twitter.com/DynamicaLab"><i class="icon ion-logo-twitter footer-ion-icons"></i></a>
      </div>
     </div>
  </div>
</div>
