---
layout: basic
show_title: True
background: '#67000d'
title: Lab members
subtitle:
custom_js:
  - /assets/js/d3.v4.min.js
  - /assets/js/d3_static_graph.js
---
{% if site.data.members.leaders %}
<div class="member-list">
	<h4>Group leaders</h4>
	<div class="row">
		{% for member in site.data.members.leaders %}
			{% include member-view.html member=member %}
		{% endfor %}
	</div>
</div>
{% endif %}

{% if site.data.members.doctoral %}
<div class="member-list">
	<h4>Doctoral students</h4>
	<div class="row">
		{% for member in site.data.members.doctoral %}
			{% include member-view.html member=member %}
		{% endfor %}
	</div>
</div>
{% endif %}

{% if site.data.members.master %}
<div class="member-list">
	<h4>Master students</h4>
	<div class="row">
		{% for member in site.data.members.master %}
			{% include member-view.html member=member %}
		{% endfor %}
	</div>
</div>
{% endif %}

{% if site.data.members.interns %}
<div class="member-list">
	<h4>Interns</h4>
	<div class="row">
		{% for member in site.data.members.interns %}
			{% include member-view.html member=member %}
		{% endfor %}
	</div>
</div>
{% endif %}

<div class="member-list">
	<h4>Former members and graduates</h4>
	<table cellspacing="20" cellpadding="4" class="table-about table-collabs">

		{% assign members = site.data.members.formers | sort: "year" | reverse %}
		{% for member in members %}
			<tr><td>
          {% if member.website %}
            <a href="{{ member.website }}">{{member.name}} {{member.lastname}}</a>
          {% else %}
            {{member.name}} {{member.lastname}}
          {% endif %}
        </td><td>{{member.task}}</td></tr>
		{% endfor %}
	</table>
</div>
