
<div class="publi-container {{include.publi.type}}-item">
	{% if include.publi.insubmission %}
		<span class="publi-submission">In submission</span>
	{% endif %}
	<h5 class="publi-name">{{include.publi.title}}</h5>
	<p class="publi-authors">{{include.publi.authors}}</p>
	<p class="conference-href">
	{% if include.publi.abstract %}
		<a class="abstract" href="{{ include.publi.abstract }}">Abstract</a> 
	{% endif %}
	{% if include.publi.github %}
		<a class="github" href="{{ include.publi.github }}">Github</a> 
	{% endif %}
	{% if include.publi.fulltext %}
		<a class="fulltext" href="{{ include.publi.fulltext }}">Full text</a> 
	{% endif %}
	{% if include.publi.arxiv %}
		<a class="arxiv" href="{{ include.publi.arxiv }}">Arxiv</a> 
	{% endif %}	
	{% if include.publi.slides %}
		<a class="slides" href="{{ include.publi.slides }}">Slides</a> 
	{% endif %}
	{% if include.publi.poster %}
		<a class="poster" href="{{ include.publi.poster }}">Poster</a> 
	{% endif %}
	{% if include.publi.poster_pf %}
		<a class="poster_pf" href="{{ include.publi.poster_pf }}">Printer-friendly</a> 
	{% endif %}
	</p>
  <p class="conference-award">
  {% if include.publi.award %}
     <i class="icon fas fa-trophy award-icon"></i> <i>{{include.publi.award}}</i>
	{% endif %}
  </p>

</div>
