

<footer class="site-footer">
  <div class="footer-container center-block">
    <div class="row">
      <div class="col-md-4">
        <div class="subcontainer">
          <h4>About us</h4>
          <p>We are a research group dedicated to the understanding of the structure and of the dynamics of complex systems.</p>
          <a href="https://github.com/DynamicaLab"><i class="icon ion-logo-github footer-ion-icons"></i></a>
          <a href="https://twitter.com/DynamicaLab"><i class="icon ion-logo-twitter footer-ion-icons"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="subcontainer">
          <h4>Location</h4>
          <p>Département de physique, de génie physique, et d'optique
              Pavillon Alexandre-Vachon<br>
              1045, avenue de la Médecine<br>
              Québec, Canada<br>
              G1V 0A6</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="subcontainer">
          <h4>Affiliations</h4>
          <div class="row">
            <div class="col-md-6">
              <a href="http://ulaval.ca"><img class="footer-logo" src="/assets/images/logos/logo_ul.png"></a>
            </div>
            <div class="col-md-4">
              <a href="https://cimmul.fsg.ulaval.ca/"><img class="footer-logo" src="/assets/images/logos/cimmul.png"></a>
            </div>
            <div class="col-md-4">
              <a href="https://sentinellenord.ulaval.ca"><img class="footer-logo" src="/assets/images/logos/logo-sentinelle-noir-fr.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


<!-- Add custom JSON file -->
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
    <script src='{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %}


<script defer src="/assets/js/fontawesome-all.js"></script>
<script src="/assets/js/convert.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  // Header
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });
});
</script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/assets/js/onscroll.js"></script>
<script src="/assets/js/zenscroll-min.js"></script>
