header
html, body {
	background-color: $html-back-color;
	padding: 0px;
	color: $default-black-text-color;
	font-size: 15px;
	font-weight: 500;
	scroll-behavior: smooth;
	// font-weight: lighter;
}

a {
	color: $official-blue;
}
a:hover {
	opacity: 0.5;
	text-decoration: none;
	transition: 0.1s all;
}

.blue-subtitle {
	color: $official-blue;
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
	padding-bottom: 0px;
  	padding-left: 0px;

}
.olderposts-date {
	color: gray;
	// text-transform: uppercase;
	// font-size: 70%;
	// letter-spacing: 2px;
	// font-weight: bold;
}

.olderposts-title a {
	color: $default-black-text-color !important;
}
.container {
	width: 100%;
	max-width: $content-width;
}
h1 {
	color: black;
	font-weight: bold;
}
.page-content {
	// Appearance
	background-color: white;

	//  Layout
	width: 100%;
	max-width: $content-width;
	margin: auto;
	margin-top: 20px;

	.content {
		padding: 60px;
	}

}
.front-image {
  max-height: 18em;
  // max-width: 50%;
  // width: 10em;
  // height: 10em;
}
.post-page {
	max-width: 900px;

	h1 {
		font-weight: bold;
		color: $official-blue;
		font-size: 300%;
		padding-bottom: 16px;

	}
	h2 {
		font-weight: bold;
		padding-top: 20px;
		color: #252525;
		font-size: 150%;
	}
	h5 {
		font-weight: bolder;
		padding-top: 20px;
		color: #252525;
		font-size: 100%;
	}
	.block-image {
		// text-align: center;
		max-width: 90%;
		max-height: auto;
		margin-top: 2em;
		margin-bottom: 2em;
	}

}

.right-navbar {
	padding: 10px;
	border-bottom: 1px solid $official-blue;
	border-top: 2px solid $official-blue;
	margin-bottom: 16px;
}
.social-network-container {
	padding-top: 0px;
  padding-left: 10px;
	a {
		color: gray;
		font-size: 120%;
		padding-right: 6px;
	}

}


.d3graph {
	position: absolute;
   	top: 0;
   	padding:0;
   	margin:0;
}

.header-block {
	//  Layout
	width: 100%;
	margin: auto;
	min-height: 150px;
	background-color: $header-default-background-color;
	// background-image: url("/assets/images/background/default.jpg");
	// background-position: center;  Center the image
	// background-repeat: no-repeat; /* Do not repeat the image */
	// background-size: cover; /* Resize the background image to cover the entire container */

	padding-top: 40px;
	margin-bottom: 0px;
	//padding-bottom: 30px;
	padding-left: 16px;

	.header-front-title {
        margin-left: -2px;
		padding-top: 30px;
		color: white;
		font-size: 300%;
		opacity: 0.98;
		font-weight: bolder;
	}
	.header-subsub-title {
		padding-top: 0px;
		text-transform: uppercase;
		color: white;
		font-size: 90%;
		opacity: 0.98;
		font-weight: normal;
		z-index: 9999;

	}
	.header-sub-title {
		padding-top: 30px;
		color: white;
		//max-width: 800px;
		font-size: 200%;
		opacity: 0.98;
		padding-bottom: 40px;
		font-weight: lighter;
	}
  .logo-dynamica {
		// text-align: center;
        float:left;
        padding-right:10px;
        width:auto;
		max-width: auto;
		max-height: 175px;
		margin-top: 2em;
		margin-bottom: 2em;
        margin-right: 0 !important;
    //margin-right: 8%;
    //float: right;
    position: relative;
    z-index: 99999999999;
    // overflow: auto;
	}
}

.full-gray-background {
	width: 100%;
	padding: 30px;
	background-color: $light-gray-background
}
.aboutusfront {
	max-width: 900px;
	line-height: 180%;
	color: black;
	font-size: 110%;
	font-weight: lighter;
	.title {
		font-size: 120%;
		font-weight: bold;
	}

}

// ---------- Posts ----------
ul.post-list {
	padding-left: 0px;
	max-width: 700px;
	margin: auto;
	.front-post {
		padding-top: 0px;
		overflow:hidden;

		.separator {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.post-date {
			color: gray;
			padding-bottom: 8px;
		}
		.post-title a, .post-title{
			font-size: 125%;
			font-weight: bold;
			color: black !important;
		}
		img {
			max-width: 90%;
			margin: auto;
			// padding-
			padding-top: 10px;
			padding-bottom: 10px;
		}
		p {
			font-size: 110%;
			max-width: 80%;
		}
		.post-excerpt {
			font-weight: lighter;
		}
		.read-more {
			font-weight: bold;
			color: $official-blue;
			padding: 6px;
			border-radius: 4px;
			background-color: rgba(8, 69, 148, 0.1);
		}
	}
}

nav.pagination {
	// background-color: red;
}
.container-pagination {
	margin: auto;
}
.page-number {
	margin-top: auto;
	margin-bottom: auto;
	padding: 16px;
}
.paginator-icon {
	font-size: 200%;
	vertical-align: middle;
}
.paginator-icon.inactive-icon {
	opacity: 0.2 !important;
}

// ---------- Posts ----------
ul.event-list {
	padding-top: 0px;
	margin: 0;
	padding-left: 0px;
	padding-bottom: 20px;

	h4 {
		color: $official-blue;
		text-transform: uppercase;
		font-size: 100%;
		font-weight: bold;
	}
	.event-container{
		padding-top: 15px;
		.event-type {
			font-size: 80%;
			text-transform: uppercase;
			color: $default-black-text-color;
			margin: 0;
			margin-top: 4px;
			margin-bottom: 4px;
			padding: 0;
			font-weight: bold;
		}
		.event-title {
			font-size: 100%;
			color: $official-blue;
			font-weight: bold;
			margin: 0;
			padding: 0;
			margin-bottom: 4px;
		}
		.event-subtitle {
			font-size: 90% !important;
			color: $default-black-text-color !important;
			margin: 0 !important;
			padding: 0 !important;
		}
		.event-subsubtitle {
			font-size: 80% !important;
			color: $default-black-text-color !important;
			margin: 0 !important;
			padding: 0 !important;
		}
		.event-date {
			margin-bottom: 8px;
		}

	}
}


// ------- Members ------------
.member-list {
	padding-top: 30px;
	margin: 0;
	padding-left: 0px;
	padding-bottom: 60px;

	h4 {
		color: $official-blue;
		text-transform: uppercase;
		font-size: 125%;
		font-weight: bold;
		padding-bottom: 20px;
	}
	h5 {
		padding-top: 12px;
		font-size: 110%;
		color: black;
	}
	img.member-image {
		width: 100%;
		height: auto;
		margin: auto;

	}
	.member-ion-icons {
		font-size: 140%;
		padding: 3px;
		color: #636363;
	}
	.member-academicons-icons {
		font-size: 140%;
		padding: 3px;
		color: #636363;
		vertical-align: middle;
	}
}

// -- portfolio
.portfolio-container-header {
		max-width:1000px;

		.title {
			padding-top: 1em;
			margin: 0 0 0 0;
		}
		.description {
			margin: 0 0 0 0;
			padding-bottom: 4em;
		}
		.row {
			margin-bottom: 30px;
		}
		.card-container {
			// max-width: 320px;
			padding-bottom: 80px;
		}
		.card-inside {
			margin: auto;
			max-width: 400px;
		}
		.portfolio-preview:hover {
			opacity:0.8;
		}
		.meta-container {
			height: 350px;
		}
		.portfolio-image {
			width: 100%;
			border: 1px solid #D6D6D6;
			// height:60px;
		}
		.portfolio-meta {
			h1 {
    			margin: 0 0 0 0;
    			padding-top: 20px;
    			// text-transform: uppercase;
    			line-height: 100%;
    			opacity: 1;
    			font-size: large;
    			color:#222222;
    		}
    		p {
    			color:#222222;
    			margin-top: 10px;
    			line-height: 21px;
    			font-weight: regular;
	    	}
    	}

	}
// ----- publications ----
.in-submission-div {
	background-color: #eff3ff;
	// border: 1px solid black;
	margin-left: -20px;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 4px;
  margin-bottom: 60px;
	.publi-list {
		.publication-year-container {
			padding-bottom: 0px !important;
		}
	}
}

// .separator {
//   // margin-top: 30px;
//   margin-bottom: 60px;
//   // background:none !important;
// }

.award-icon {
			padding: 1px;
}

.publi-list {
	padding-left:0px;
	padding-right: 30px;

	.publi-year-category {
		font-weight: bold;
		font-size: 165%;
		color: $official-blue;
		margin-bottom: 20px;
	}
	h6 {
		font-size: 120%;
		font-weight: bold;
	}
	.publi-year-info {
		padding-bottom: 30px;
		font-weight: normal;
	}
	.publi-container {
		margin-bottom: 20px;

		.publi-name {
			margin-top: 0px;
			padding-top: 4px;
			font-weight: bolder;
		}

		.edition {
			font-weight: bold;
		}
		h5 {
			padding-top: 12px;
			margin: 0px;
			font-size: 110%;
			color: black;
		}
		.publi-authors {
			margin-bottom: 0px;

		}
		.conference-href {
			margin-top: 8px;
		}
		.conference-award {
			margin-top: 12px;
		}
    .publi-ref {
      margin-bottom: 10px;
    }
		p {
			margin: 0;
			padding: 0;
		}
		.thesis-authors {
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
		.publi-submission {
			color: $strong-orange;
			// text-transform: uppercase;
			font-size: 100%;
			font-weight: bold;
			// padding-bottom: 20px;
			padding-bottom: 10px;
		}


		a {
			font-weight: bold;
			color: $official-blue;
			padding: 4px 6px 4px 6px;
			margin-right: 8px;
			border-radius: 4px;
			background-color: rgba(8, 69, 148, 0.1);
		}
	}

	.publi-year-category {
	}


	.publication-year-container {
		padding-bottom: 60px;
	}
	.separator {
		margin-top: 30px;
	}

}

.publication-year-container {


	a.inactive-publi-btn {
		color: gray;
	}
	a.active-publi-btn {
		// background-color: $official-blue;
		// color: white;
		// border-radius: 4px;
		// border-bottom: 1px solid $official-blue;
	}

}
.table-about {
	max-width: 400px;
	i {
		margin-right: 10px;
	}
}
.table-collabs {
	max-width: none;
}



// --------- Subnav for publication page -----------

.subnav-bar {
	width: 100%;
	background-color: $light-gray-background;
	margin: 0;
	margin-top: -6px;
	min-height: 60px;
	border-bottom: 1px solid rgba(0,0, 0, .1);
}

// Nav-bar
header {

	margin-top: 0px;
	padding: 0;
	margin: 0;
	height: auto;
	// z-index: 1030;

	.navbar-fixed-top {
		position: absolute;
	    right: 0;
	    left: 0;
	    top: 0;
	    z-index: 1030;
	}

	.navigation-wrapper {
		max-width: $content-width;
		height: auto;
		font-weight: lighter;

		.nav-item {
			margin-left:10px;
		}
		a.nav-link {
			letter-spacing: 2px;
			text-transform: uppercase;

		}
		a.nav-link:hover {
			opacity: 0.6;
			transition: 0.1s all;
		}


		.navbar {

		}

		.navbar-white {
			background-color: white ;
			border-bottom: 1px solid rgba(8, 69, 148, .5);
			transition: 0.2s background-color;

			a.nav-link {
				color: $official-blue ;
			}
		}
		.navbar-transparent {

			background-color: transparent ;
			transition: 0.2s all;
			border-bottom: 1px solid rgba(255, 255, 255, .3);
			a.nav-link {
				color: white ;
			}
		}



	}
}




footer {
	background-color: $footer-background-color;
	padding: 60px;
	width: 100%;
	min-height: 300px;

	.footer-container {;
		max-width: 1000px;
		margin: auto;

		h4 {
			font-size: 100%;
			font-weight: bold;
			text-transform: uppercase;
			color: $official-blue;
		}
		.footer-ion-icons {
			padding: 4px;
			color: $official-blue;
		}
		.subcontainer {
			max-width: 250px;
		}
		.footer-logo {
			max-height: 50px;
			width:auto;
			margin: 16px;
			max-width: 120px;
		}
	}
}

@media only screen and (max-width: 999px) {
  .logo-dynamica {
    display: none !important;
  }
}


@media only screen and (max-width: 764px) {
  .navbar {
  	// visibility: hidden !important;
  }
  footer {
  	padding-left: 16px;
  	padding-right: 16px;

	  .subcontainer {
	  	 padding-bottom: 30px;
	  }
   }
  .page-content {

		.content {
			padding-left: 16px;
			padding-right: 16px;
		}
	}




}

@media only screen and (max-width: 580px) {
  .navbar {
  	// visibility: hidden !important;
  }
  .subcontainer {
  	 padding-bottom: 30px;
  }
  .navbar-transparent {

		background-color: white !important;
		border-bottom: 1px solid rgba(8, 69, 148, .5);
		transition: 0.2s background-color;

		a.nav-link {
			color: $official-blue !important;
		}
	}



}
