<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>

	{% include navbar.html %}



	<div class="header-block center-block" id="d3graphparent" style="background-color: {{page.background}}">
		<div class="d3graph" id="d3graph"></div>
		{% include header.html %}
	</div>

	{% if page.include_about_us %}
	<div class="full-gray-background">
		<div class="container aboutusfront">
		  <span class="title">About us</span>
		  <p>
        We are a research group dedicated to the understanding of the structure and of the dynamics of complex systems using tools from statistical physics, nonlinear dynamics, differential geometry, statistical inference, and deep learning. Current research topics include:
        <ul>
          <li>Immersion of complex networks in hyperbolic space</li>
          <li>Dimension reduction of dynamical processes on large networks (neuronal, epidemiological, synchronization, percolation)</li>
          <li>Detection of critical species from co-occurrence patterns in ecological data</li>
          <!-- <li>Modelization of self-organized plasma formation in solids</li> -->
          <li>Deep learning dynamical processes on complex networks from time series</li>
          <!-- <li>Resilience of neural networks</li> -->
          <!-- <li>Synchronization in networks of oscillators</li> -->
          <li>Localization of spreading processes on networks</li>
          <li>Inference of connectomes from neural activity data</li>
          <!-- <li>Percolation on complex networks</li> -->
          <li>Community and hierarchical structures of networks</li>
        </ul>
		  </p>
		</div>
	</div>
	{% endif %}



	{{ content }}

	{% include footer.html %}


</body>


</html>
